vti_encoding:SR|utf8-nl
mailto\:quandt@sprynet.com:index.htm index-applets.html
/c\:/ftp/htmlfile/liquidassets/corsica.htm:index.htm index-applets.html
/c\:/ftp/htmlfile/liquidassets/report8.html:index.htm index-applets.html
/c\:/ftp/htmlfile/liquidassets/report11.html:index.htm index-applets.html
/c\:/ftp/htmlfile/liquidassets/report7.html:index.htm index-applets.html
/c\:/ftp/htmlfile/liquidassets/report25.html:index.htm index-applets.html
/c\:/ftp/htmlfile/liquidassets/report19.html:index.htm index-applets.html
/c\:/ftp/htmlfile/liquidassets/report14.html:index.htm index-applets.html
/c\:/ftp/htmlfile/liquidassets/report20.html:index.htm index-applets.html
/c\:/ftp/htmlfile/liquidassets/orley.htm:index.htm index-applets.html
http\://www.digits.com/web_counter:index.htm index-applets.html
/c\:/ftp/htmlfile/liquidassets/report13.html:index.htm index-applets.html
/c\:/ftp/htmlfile/liquidassets/report9.html:index.htm index-applets.html
/c\:/ftp/htmlfile/liquidassets/report2.html:index.htm index-applets.html
/c\:/ftp/htmlfile/liquidassets/report22.html:index.htm index-applets.html
/c\:/ftp/htmlfile/liquidassets/fphover.class:index.htm index-applets.html
/c\:/ftp/htmlfile/liquidassets/report1.html:index.htm index-applets.html
/c\:/ftp/htmlfile/liquidassets/report16.html:index.htm index-applets.html
http\://counter.digits.com/wc/-d/4/rlshnfltr:index.htm index-applets.html
mailto\:dashmore@princeton.edu:index.htm index-applets.html
/c\:/ftp/htmlfile/liquidassets/report4.html:index.htm index-applets.html
/c\:/ftp/htmlfile/liquidassets/tasting.html:index.htm index-applets.html
/c\:/ftp/htmlfile/liquidassets/report21.html:index.htm index-applets.html
/c\:/ftp/htmlfile/liquidassets/report18.html:index.htm index-applets.html
/c\:/ftp/htmlfile/liquidassets/report15.html:index.htm index-applets.html
/c\:/ftp/htmlfile/liquidassets/article.html:index.htm index-applets.html
/c\:/ftp/htmlfile/liquidassets/report6.html:index.htm index-applets.html
/c\:/ftp/htmlfile/liquidassets/report3.html:index.htm index-applets.html
/c\:/ftp/htmlfile/liquidassets/nycbordx.html:index.htm index-applets.html
/c\:/ftp/htmlfile/liquidassets/report24.html:index.htm index-applets.html
http\://www.tastings.com:index.htm index-applets.html
/c\:/ftp/htmlfile/liquidassets/report10.html:index.htm index-applets.html
/c\:/ftp/htmlfile/liquidassets/feature1.html:index.htm index-applets.html
/c\:/ftp/htmlfile/liquidassets/report5.html:index.htm index-applets.html
/c\:/ftp/htmlfile/liquidassets/report17.html:index.htm index-applets.html
/c\:/ftp/htmlfile/liquidassets/report23.html:index.htm index-applets.html
/c\:/ftp/htmlfile/liquidassets/report12.html:index.htm index-applets.html
http\://www.quandt.com/wine1.html:index.htm index-applets.html
